body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 30, 54);
    color: rgb(207, 207, 207);
    font-size: 30px;
    font-weight: 700;
}

.vizitka {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;
}

.cont {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.osnblok {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.viz {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

p {
    margin: 0;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 30px;
}

@media(max-width: 600px) {
    .cont>img {
        width: 65px;
        height: 65px;
    }
}

@media(max-width: 600px) {
    .cont {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}