

.vizitka{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:10px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
p {
    margin: 0;
}